html, body {
  width: 100%;
  height: 100%;
}

body {
    background-color: #073642;
}

.searchbutton {
  background: #859900;
  border-radius:0;
}

.inputform {
  border-radius:0px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-appearance: none;
}

.form-control:focus {
  -webkit-appearance: none;
  border-radius:0px;
  border-color: #859900;
  box-shadow: inset 0 1px 1px rgba(133, 153, 0, 0.075), 0 0 8px rgba(133, 153, 0, 0.6);
}

.container {
  background-color: #fdf6e3;
  box-shadow: 0 0 30px black;
}

.chart-container {
  padding-bottom: 10px;
  padding-top: 20px;
}

.form-container {
  margin-top: 20px;
}

.middle {
  font: 16px sans-serif;
  fill: #586e75;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
