<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Subjective?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">
  </head>
  <body>
    <div class="container form-container">
      <div class="col-sm-6"><br><span class="middle" style="color:#586e75">Mandel-thought</span></div>
      <div class="col-sm-6">
        <form class="navbar-form navbar-right" role="search" id="searchTopic">
          <input type="text" name="topic" id="topic" class="form-control inputform" placeholder="Topic">
          <button type="submit" class="btn searchbutton">Search</button>
        </form>
      </div>
    </div>
    <br>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="static/subjective.js"></script>
  </body>
</html>
